.profile__profile-info {
    color: white;
    display: grid;
    grid-template-columns: 150px 312px 24px;
    grid-template-areas:
        "img name edit"
        "img desc desc";
    height: max-content;
}

@media screen and (max-width: 900px) {
    .profile__profile-info {
        display: flex;
        position: relative;
        flex-direction: column;
    }
}
