.popup__input-error {
    position: absolute;
    width: 358px;
    margin: -25px 36px 0;
    font-size: 12px;
    line-height: 15px;
    color: red;
    word-wrap: normal;
}

.popup__input-error:last-of-type {
    margin-top: 5px;
}

@media screen and (max-width: 900px) {
    .popup__input-error {
        width: 238px;
        margin: -25px 22px 0;
    }

    .popup__input-error:last-of-type {
        margin-top: -40px;
    }
}