.popup__submit-button {
    min-width: 358px;
    margin: 0 36px 37px;
    padding: 0;
    min-height: 50px;
    background: #000000;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    border: none;
    transition: 0.2s;
}

.popup__submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .popup__submit-button {
        min-width: 238px;
        margin: 0 22px 25px;
        font-size: 14px;
        line-height: 17px;
    }
}
