.element__mask {
    min-width: 282px;
    max-height: 282px;
    margin: 0;
    padding: 0px;
    display: block;
    align-self: center;
    overflow: hidden;
}

.element__mask:hover {
    cursor: pointer;
}
