.popup__close-button {
    width: 35px;
    height: 35px;
    margin-left: 8px;
    margin-top: calc((100vh - 330px) / 2 - 40px);
    margin-bottom: 8px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/close-Icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    border: none;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        margin-left: -28px;
        margin-top: calc((100vh - 322px) / 2 - 40px);
        background-size: 100%;
        z-index: 2;
        margin-bottom: 16px;
    }
}
