.popup__form-description {
    width: 358px;
    min-height: 26px;
    padding: 0;
    margin: 0 36px 48px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 900px) {
    .popup__form-description {
        width: 238px;
        margin: 0 22px 45px;
    }
}
