.popup__edit-form {
    position: relative;
    align-self: center;
    justify-items: center;
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 900px) {
    .popup__edit-form {
        width: 282px;
        height: 322px;
    }
}
